POSTGRES_DB_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB_USERNAME=your_username
POSTGRES_DB_PASSWORD=your_password
POSTGRES_DB_NAME=your_database
POSTGRES_DB_SYNCHRONIZE=false
EVENT_STREAMING_BROKERS=localhost:9092
EVENT_STREAMING_CLIENT_ID=ms-stocks-client
EVENT_STREAMING_CONSUMER_GROUP_ID=ms-stocks-group
CACHE_URL=redis://localhost:6379
JWT_SECRET=your_jwt_secret